body {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: white;
    background-size: cover;
}

header {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: rgb(12, 52, 139);
}

.input-element {
    font-size: 15px;
    text-align: center;
    padding: 4px 0;
    margin: 6px 0px;
    display: inline-block;
    border-radius: 5px;
    border-color: white;
    background:white;
    outline: none;
}

#logo {
    float: left;
}

#page-title{
    padding: 4px 8px;
    font-size: 20pt;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(240, 240, 240);
}

#user-info {
    margin-top: 8px;
    color: rgb(240, 240, 240);
}

.transparent-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(240, 240, 240);

    :hover {
        color: rgb(199, 199, 199);
    }
}

#login-wrapper {
    width: 100%;
    position: absolute;
    height: calc(100% - 35px);
    background: url("../img/plane.jpg") center center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-box {
    width: 300px;
    color: white;
    text-align: center;
}

#login-box h1 {
    font-size: 50px;
    color: rgb(27, 27, 27);
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,         
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
}

.btn {
    border: 2px solids white;
    color:black;
    font-weight: bold;
    background: none;
    outline: none;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    border: none;
    color: rgb(71, 71, 71);
}

.icon {
    color: black;
}

.criteria-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(21, 64, 156);
    margin-top: 5vh;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.criteria {
    width: calc(50% - 20px);
    padding: 5px 10px;
}

@media screen and (max-width: 767px) {
    .criteria {
        width: 100%;
    }
}

.criteria select, .criteria input {
    font-size: 20px;
    border: 0px;
    width: 100%;
    padding: 4px 0;
    margin: 6px 0px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

#flight-details {
    margin: 0 auto;
    font-size: 14pt;
    width: 80%;
    padding: 5px 30px;
    text-align: center;
    color: white;
    background-color: rgb(26, 71, 167);
}

.confirm-btn {
    background: none;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 12pt;
    padding: 6px;
    margin: 5px 0;
}

.number-of {
    font-size: 20px;
    border: 0px;
    text-align: center;
    padding: 4px 0;
    margin: 6px 0px;
    border-radius: 5px;
    outline: none;
}

#seats-details {
    display: none;
    margin: 50px auto;
    width: 80%;
    padding: 15px;
    background-color: rgb(26, 71, 167);
    color: white;
}

#seats-picker-wrapper {
    text-align: center;
}

#seats-picker {
    background-color: white;
    display: inline-block;
    transform: rotate(90deg) scale(1.4) scaleX(2.0);
}

#airplane {
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 767px) {
    #seats-picker {
        transform: scale(1.0) scaleX(2.0);
        margin: 0 auto;
        display: block;

    }
}

.selected-seat {
    fill: rgb(23, 93, 243);
}

#bag-details {
    display: none;
    margin: 50px auto;
    width: 80%;
    padding: 15px;
    background-color: rgb(26, 71, 167);
    color: white;
    text-align: center;
}

#bag-picker {
    margin: 0 auto;
    width: 60%;
}

.bags {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bag-wrapper {
    width: 200px;
    text-align: center;
}

.bag {
    background-color: #f0f0f0;
    border: 3px solid #1a1a1a;
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;

   
}

.bag:hover {
    background-color: #cccccc;
}

#summary {
    display: none;
    margin: 50px auto;
    width: 80%;
    padding: 15px;
    background-color: rgb(26, 71, 167);
    color: white;
    text-align: center;
}

#summary ul {
    text-align: left;
}

#summary ul li {
    margin: 10px 0;
}